body {
    background-color: darkgrey;
    color: white;
    margin: 0;
    padding: 0;
}

.hatter {
    background-color: white;
    height: 1000px;
    width: 86%;
    margin: 0 auto;
    border: solid #5c6b7a 40px;

}


.kep_jobbra1 {
    width: 110px;
    float: right;
    
}

.kep_jobbra2 {
    width: 110px;
    float: right;
}

.fokep {
    width: 1000px;
    

}

.tkep {
    width: 160px;

}

.szoveg {

}






























































