body {
    background-color: darkgrey;
    color: white;
    margin: 0;
    padding: 0;
}


.kep_jobbra1 {
    width: 110px;
    float: right;
    display: block;
}

.kep_jobbra2 {
    width: 110px;
    float: right;
    display: block;
}

.fokep {
    width: 1000px;

}

.tkep {
    width: 300px;
}

.szoveg {

}






























































